@import "colors";

$tamano: 100%;

    
.slogan{
    background-attachment: fixed;
    background-size: cover;
    background: url("../imagenes/fondo-slogan.jpg");
    color: white;
    height: 300px;
}

.slogan h2{
    font-size: 350%;
    text-align: center;
    padding-top: 7%;
}

    
.no-gutters{
    padding: 30px;
        
        h2,p{
            padding: 40px;
            text-align: justify;
        }

        h2{
            text-align: center !important;
        }

        img{
            display: block;
            margin: auto;
            height: 98%;
            width: 70%;
        }
}

.footer{
    background: #333;
    height: 100px;
    width: 100%;
    padding-left:10px;
    padding-right:10px;
    float:left;
    text-align:center;

        li{
            display: inline-block;
            font-size: 30px;
            padding: 20px;
            margin: 0 auto;
        }

        a{
            color: grey;
            transition: background-color .5s;
        }

        a:hover{
            color: $aqua;
        }

}

.showcase{
    p{
        text-align: justify;
        color: #333 !important;
    }

    h2{
        text-align: center;
        color: #000;
    }

    td,tr{
        color: #000;
        
    }
}

.card{
  background-color: white;
  height: 100%;
  width: 100%;
  position: relative;
}

.card::after{
    position:absolute;
    bottom: 0;
    left:0;
    content:' ';
     background: linear-gradient(to right, #ff00cc, #333399);
    width: 100%;
    height:25px;
    filter:blur(20px);
    z-index: -1;
  }

.card2{
  background-color: white;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}

.card2::after{
    position:absolute;
    bottom: 0;
    left:0;
    content:' ';
    background: linear-gradient(to right, #000428, #004e92);
    width: 100%;
    height:25px;
    filter:blur(20px);
    z-index: -1;
  }



.tabla{
    display: flex;
    align-items: center;
    justify-content: center;
}


.h22{
    height: 20px;
    padding-bottom: 130px;

    h2{
        font-size: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}


//team ============================================================>



