@import "colors";

$tamano: 100%;

    
.slogan{
    background-attachment: fixed;
    background-size: cover;
    background: url("../imagenes/fondo-slogan.jpg");
    color: white;
    height: 300px;
}

.slogan h2{
    font-size: 350%;
    text-align: center;
    padding-top: 7%;
}

    
.no-gutters{
    padding: 30px;
        
        h2,p{
            padding: 40px;
            text-align: justify;
        }

        h2{
            text-align: center !important;
        }

        img{
            display: block;
            margin: auto;
        }
}

.footer{
    background: #333;
    height: 100px;
    width: 100%;
    padding-left:10px;
    padding-right:10px;
    float:left;
    text-align:center;

        li{
            display: inline-block;
            font-size: 30px;
            padding: 20px;
            margin: 0 auto;
        }

        a{
            color: grey;
            transition: background-color .5s;
        }

        a:hover{
            color: $aqua;
        }

}


